<br />


<form>
    
  <div class="text-center">
    <h1>Post-Trip Inspection</h1>
  </div>

   <form class="form">
   
       <div *ngFor="let item of postItems">
           <div class="inputGroup">
               <input id={{item.name}} name="option1" type="checkbox" [(ngModel)]="item.state"/>
               <label for={{item.name}}>{{item.name}}</label>
           </div>
       </div>
   
       <br />
       
       <div class="form__group">
           <input type="text"  id="name"  required="true" #mileage>
           <label for="name" placeholder="Ending Mileage" ></label>
       </div>

   </form>
 
 <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

</form>

<!-- Footer -->
<footer class="footer font-small dark">

    <div class="card">

        <div class="card-header">
            App Information
        </div>

        

        <button class="btn btn-lg btn-xl-logout btn-block" [disabled]="buttonState()" data-toggle="collapse" href="/login" (click)="logout()">Logout</button>
        <button id='syncButton' (click)="startSync()" class="btn btn-xl-card btn-block" [disabled]="this.logService.isSyncing" *ngIf="syncingMessage == 'Syncing, please do not close this page.' || syncingMessage == 'There was an error. Please ensure you have a stable WiFi connection and try again.'">Sync
       {{getSyncMessage()}}</button>
    </div>

</footer>