<br />

<form>
   
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <table align="center">
          <div class="form-group" *ngFor="let x of postItems">
            <h5>
          <tr>
            <td>
              <input type="checkbox" [value]="x.value" />
            </td>
            <td>
              {{x.name}}
            </td>
          </tr>
          <tr></tr>
        </h5>
        </div>
        </table>

      </div>
      
        
    </div>
    <div class="col-sm-2">
    </div>
</div>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <div><button class="btn btn-xl btn-block" (click)="bbtest()">Next</button></div>
                <div class="alert alert-danger text-center" [@simpleFadeAnimation]="'in'" *ngIf="errorMessageState">
                    <h4>
                        {{errorMessage}}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</form>

<!-- Footer -->
<footer class="footer font-small dark">

    <div class="card">

        <div class="card-header">
            App Information
        </div>

        

        <button class="btn btn-lg btn-xl-logout btn-block" [disabled]="syncingMessage != 'All done! Have a wonderful day!'" data-toggle="collapse" href="/login" (click)="logout()">Logout</button>
        <button id='syncButton' (click)="startSync()" class="btn btn-xl-card btn-block" [disabled]="this.logService.isSyncing" *ngIf="syncingMessage == 'Syncing, please do not close this page.' || syncingMessage == 'There was an error. Please ensure you have a stable WiFi connection and try again.'">Sync
       {{getSyncMessage()}}</button>
    </div>

</footer>