.btn-xl {
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 10px;
    background-color: #63b255;
    color: white;
}

h2 {
    font-size: 45px;
}

label {
    font-size: 30px;
}

.largerSize {
    font-size: 35px;
  }