<!-- nav -->
<div class="pos-f-t" *ngIf="currentUser">
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <div class="d-flex justify-content-between">
          <div><a class="btn btn-lg btn-dark btn-block" routerLink="/form">Form</a></div>
          <div><a class="btn btn-lg btn-dark btn-block" data-toggle="collapse" routerLink="/configure">Setup</a></div>
          <div><a class="btn btn-lg btn-dark btn-block" data-toggle="collapse" href="/login" (click)="logout()">Logout</a></div>
        </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<router-outlet></router-outlet>
