    <div id="theForm">
      <h2>Bus Form</h2>
      <form #f="ngForm" name="theForm" (ngSubmit)="addLog(f)">
        <div class="form-group">
          <label>Boarded</label>
          
          <input type="number"
                class="form-control"
                name="boarded"
                [(ngModel)]="log.boarded" name="logBoarded"
                #logBoarded="ngModel"
                pattern="^[0-9]+$"
                required>
          <span class="help-block danger" *ngIf="logBoarded.errors?.required && logBoarded.touched">
            The # of boarded is required
          </span>
          <span class="help-block danger" *ngIf="logBoarded.errors?.pattern && logBoarded.touched">
            The # of boaurded can only contain numbers
          </span>
        </div>

        <div class="form-group">
          <label>Stop</label>
          <input type="text"
                class="form-control"
                name="stop"
                [(ngModel)]="log.stop" name = "logStop"
                #logStop="ngModel"
                pattern="^[a-zA-Z]+$"
                required>
          <span class="help-block danger" *ngIf="logStop.errors?.required && logStop.touched">
            The stop name is required
          </span>
          <span class="help-block danger" *ngIf="logStop.errors?.pattern && logStop.touched">
            The stop name can only contain the letters a-z or A-Z
          </span>
        </div>

        <!-- <div class="form-group">
          <label>timestap</label>
          <input type="datetime-local"
                class="form-control"
                name="timestamp"
                [(ngModel)]="log.timestamp"
                #logTimestamp="ngModel"
                required>
          <span class="help-block danger" *ngIf="logTimestamp.errors?.required && logTimestamp.touched">
            The model name is required
          </span>
          <span class="help-block danger" *ngIf="logTimestamp.errors?.pattern && logTimestamp.touched">
            The model name can only contain the letters a-z or A-Z
          </span>
        </div>

        <div class="form-group">
          <label>Date</label>
          <input type="date"
                class="form-control"
                name="Date"
                [(ngModel)]="log.date"
                #logDate="ngModel"
                required>
          <span class="help-block danger" *ngIf="logDate.errors?.required && logDate.touched">
            The model name is required
          </span>
          <span class="help-block danger" *ngIf="logDate.errors?.pattern && logDate.touched">
            The model name can only contain the letters a-z or A-Z
          </span>
        </div> -->

        <div class="form-group">
          <label>Loop</label>
          <input type="text"
                class="form-control"
                name="loop"
                [(ngModel)]="log.loop" name = "logLoop"
                #logLoop="ngModel"
                required
                pattern="^[a-zA-Z]+$">
          <span class="help-block danger" *ngIf="logLoop.errors?.required && logLoop.touched">
            The loop name is required.
          </span>
          <span class="help-block danger" *ngIf="logLoop.errors?.pattern && logLoop.touched">
            The loop name can only contain the letters a-z or A-Z
          </span>
        </div>

        <div class="form-group">
          <label>Driver</label>
          <input type="text"
                class="form-control"
                name="driver"
                [(ngModel)]="log.driver" name = "logDriver"
                #logDriver="ngModel"
                required
                pattern="^[a-zA-Z]+$">
          <span class="help-block danger" *ngIf="logDriver.errors?.required && logDriver.touched">
            The driver name is required
          </span>
          <span class="help-block danger" *ngIf="logDriver.errors?.pattern && logDriver.touched">
            The driver name can only contain the letters a-z or A-Z
          </span>
        </div>
    
        <button type="submit" 
          class="btn btn-primary btn-lg btn-block"
            [disabled]="f.invalid">Add</button>
      </form>
    </div>