.center-block {
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}

.disableZoom {
    touch-action: manipulation;
  }

.btn-xl {
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 15px;
    background-color: #51626d;
    color: white;
}

.btn-xl-plus {
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 15px;
  background-color: #3A6B75;
  color: white;
}

.btn-settings {
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 0px;
  background-color: #51626d;
  color: white;

}

.btn-xl-square {
  padding: 10px 20px;
  font-size: 60px;
  border-radius: 15px;
  background-color: #63b255;
  color: white;
}

.btn-xl-success {
  padding: 10px 20px;
  font-size: 60px;
  border-radius: 15px;
  background-color: white;
  color: black;
}

.btn-xl-close {
  padding: 10px 10px;
  object-position: right;
  font-size: 60px;
  border-radius: 15px;
  background-color: rgb(245, 13, 13);
  color: white;
}

label {
    font-size: 22px;
}

select {
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    /* and then whatever styles you want*/
  text-align: center;
  font-size: 25px;
	height: 50px; 
	padding: 5px;
}

.overlay {
  background-color: #63b255;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.successMessage {
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
  font-size: 50px;
  /* font-display: justify; */
  padding: 25px;
}

.stopName {
  font-size: 70px;
  color: white;
}

.footer {
  position: relative;
  left: 0;
  bottom: -60%;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.largerSize {
  font-size: 55px;
}